body {
  font-family: "Josefin Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 800px) {
  .experiencia .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}

@media (max-width: 800px) {
  .formacao .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
