.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header_menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 10px;
  text-decoration: none;
  color: #141414;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 5px;
  }
}
